main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(223, 170, 228);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 280px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
  }

  .letter {
    margin-bottom: 10px;
    height: 80px;
    font-weight: 500;
    font-size: 100px;
  }

  .correct {
    font-size: 45px;
    font-weight: 500;
    margin: auto;
    grid-column: span 4;
  }
  
  .grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    align-items: center;
    width: 100%;
    margin: 0 ;
  }
  
  .card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 15px;
    position: relative;
    transform-style: preserve-3d;
    background-color: #ffffff;
  }

  .correct-card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 15px;
    position: relative;
    transform-style: preserve-3d;
    background-color: #ffffff;
  }

  .face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #00b5cc;
    border-radius: 15px;
  }

  
  .back {
    background-image: url('../assets/back.png');
    backface-visibility: hidden;
  }
  
  .reveal-card {
    transform: rotateY(180deg);
  }

  .play-button {
    grid-column: 2/4;
    width: 100%;
    height: 30px;
    border-style: none;
    background-color: #e95ed6;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    
  }
  
  
  
  @media screen and (max-width:920px) {
    main {
      
      padding: 20px 20px;
    }
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .letter {
      margin-bottom: 20px;
      height: 40px;
      font-size: 100px;
    }
  
    .correct {
      font-size: 35px;
      grid-column: span 2;
    }
  }